@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  --Green-accent: hsl(154, 61%, 34%);
  --Dark-blue: hsl(249, 10%, 26%);
  --Grayish-blue: hsl(246, 25%, 77%);
  --Blue: hsl(248, 32%, 49%);
}

body {
  background-image: url(/images/bg-intro-mobile.png);
  background-color: var(--Red);
  margin: 0;
}

@media only screen and (min-width: 375px) {
  .text .container {
    width: 100%;
    text-align: center;
  }
  .text .container h1 {
    margin: 1em 2em;
    font-weight: 700;
    font-family: 'Poppins','Courier New', Courier, monospace;
    font-size: 2em;
    color: white;
  }
  .text .container p {
    margin: 1em;
    margin-top: -1em;
    padding: 0 1em;
    font-weight: 400;
    font-family: 'Poppins','Courier New', Courier, monospace;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.8);
  }
  .cta {
    margin-bottom: 3em;
  }
  .cta .container {
    margin-top: 4em;
    text-align: center;
  }
  .cta .container .banner {
    margin: 3em;
    border: 1px solid var(--Blue);
    border-radius: 0.8em;
    -webkit-box-shadow: 0 0.6em rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.6em rgba(0, 0, 0, 0.2);
    background-color: var(--Blue);
  }
  .cta .container .banner a {
    color: white;
    text-decoration: none;
  }
  .cta .container .banner a p {
    padding: 0 1.8em;
    font-weight: 600;
    font-family: 'Poppins','Courier New', Courier, monospace;
    font-size: 1.2em;
  }
  .cta .container .banner a p span {
    font-weight: 400;
    font-size: 0.9em;
  }
  .cta .container .form-field {
    background-color: white;
    margin: 0 auto;
    padding: 1em;
    width: 70%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 0.8em;
  }
  .cta .container .form-field form {
    display: inline-block;
  }
  .cta .container .form-field form .form-table input {
    margin: .8em;
    width: 60vw;
    height: 4em;
    border: 0.1em solid rgba(62, 60, 73, 0.2);
    border-radius: 0.4em;
    padding-left: 0.5em;
    font-weight: 600;
    font-family: 'Poppins','Courier New', Courier, monospace;
    font-size: 1em;
  }
  .cta .container .form-field form .form-table input:hover {
    border-color: var(--Grayish-blue);
  }
  .cta .container .form-field form .form-table input:focus {
    outline: none;
    border-color: var(--Dark-blue);
  }
  .cta .container .form-field form .form-table button {
    background-color: var(--Green);
    border: none;
    color: white;
    width: 62vw;
    height: 3em;
    border-radius: 0.4em;
    -webkit-box-shadow: 0 0.2em var(--Green-accent);
            box-shadow: 0 0.2em var(--Green-accent);
    font-weight: 500;
    font-family: 'Poppins','Courier New', Courier, monospace;
    font-size: 1em;
  }
  .cta .container .form-field form .form-table button:hover {
    cursor: pointer;
  }
  .cta .container .form-field form .form-table p {
    font-weight: 500;
    font-family: 'Poppins','Courier New', Courier, monospace;
    font-size: 0.8em;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
  }
  .cta .container .form-field form .form-table p a {
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    color: var(--Red);
  }
}

@media only screen and (min-width: 1440px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .text {
    margin-top: 30vh;
  }
  .text .container h1 {
    font-size: 3em;
    width: 10em;
  }
  .text .container p {
    margin-top: -2em;
    margin-left: 7.5em;
    line-height: 1.5em;
    width: 38vw;
    text-align: justify;
  }
  .cta {
    width: 50%;
    margin-bottom: 2em;
  }
  .cta .container {
    margin-top: 13vh;
  }
  .cta .container .banner {
    margin-left: 4em;
    width: 39vw;
  }
  .cta .container .form-field {
    width: 36vw;
    margin-top: -1em;
    margin-left: 4.2em;
  }
  .cta .container .form-field form .form-table input {
    width: 32vw;
    height: 3em;
    margin: .3em;
  }
  .cta .container .form-field form .form-table button {
    width: 33vw;
    margin: .2em;
  }
}
/*# sourceMappingURL=style.css.map */