@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --Red: hsl(0, 100%, 74%); 
    --Green: hsl(154, 59%, 51%);
    --Green-accent: hsl(154, 61%, 34%); //for the shadow beneath the button
    --Dark-blue: hsl(249, 10%, 26%); 
    --Grayish-blue: hsl(246, 25%, 77%);
    --Blue: hsl(248, 32%, 49%);
}
body{
    background-image: url(/images/bg-intro-mobile.png);
    background-color: var(--Red);
    margin: 0;
}

@media only screen and (min-width: 375px) {
    .text{
        .container{
            width: 100%;
            text-align: center;
            h1{
                margin: 1em 2em;
                font-weight: 700;
                font-family: 'Poppins','Courier New', Courier, monospace;
                font-size: 2em;
                color: white;
            }

            p{
                margin: 1em;
                margin-top: -1em;
                padding: 0 1em;
                font-weight: 400;
                font-family: 'Poppins','Courier New', Courier, monospace;
                font-size: 1em;
                color: rgba($color: #fff, $alpha: 0.8);
            }
        }
    }

    .cta{
        margin-bottom: 3em;
        .container{
            margin-top: 4em;
            text-align: center;
            .banner{
                margin: 3em;
                border: 1px solid var(--Blue);
                border-radius: 0.8em;
                box-shadow: 0 0.6em rgba($color: #000, $alpha: 0.2);
                background-color: var(--Blue);
                a{
                    color: white;
                    text-decoration: none;
                    p{
                        padding: 0 1.8em;
                        font-weight: 600;
                        font-family: 'Poppins','Courier New', Courier, monospace;
                        font-size: 1.2em;
                        
                        span{
                            font-weight: 400;
                            font-size: 0.9em;
                        }
                    }
                }
                
            }

            .form-field{
                background-color: white;
                margin: 0 auto;
                padding: 1em;
                width: 70%;
                justify-content:center ;
                border-radius: 0.8em;
                form{
                    display: inline-block;
                    .form-table{
                        input{
                            margin: .8em;
                            width: 60vw;
                            height: 4em;
                            border: 0.1em solid rgba($color: rgb(62, 60, 73), $alpha: 0.2);
                            // outline: 0.1em solid rgba($color: rgb(62, 60, 73), $alpha: 1);
                            border-radius: 0.4em;
                            padding-left: 0.5em;
                            font-weight: 600;
                            font-family: 'Poppins','Courier New', Courier, monospace;
                            font-size: 1em;

                            &:hover{
                                border-color: var(--Grayish-blue);
                            }
                            &:focus{
                                outline: none;
                                border-color: var(--Dark-blue);
                            }
                        }
                        button{
                            background-color: var(--Green);
                            border: none;
                            color: white;
                            width: 62vw;
                            height: 3em;
                            border-radius: 0.4em;
                            box-shadow: 0 0.2em var(--Green-accent);
                            font-weight: 500;
                            font-family: 'Poppins','Courier New', Courier, monospace;
                            font-size: 1em;
                        }
                        button:hover{
                            cursor: pointer;
                        }

                        p{
                            font-weight: 500;
                            font-family: 'Poppins','Courier New', Courier, monospace;
                            font-size: 0.8em;
                            text-align: center;
                            color: rgba($color: #000000, $alpha: 0.5);
                            a{
                                font-size: 1em;
                                font-weight: 600;
                                text-decoration: none;
                                color: var(--Red);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 720px) {

    .main{
        display: flex;
    }

    .text{
        margin-top: 30vh;
        .container{
            h1{
                font-size: 3em;
                width: 10em;
            }
            p{
                margin-top: -2em;
                margin-left: 7.5em;
                line-height: 1.5em;
                width: 38vw;
                text-align: justify;
            }
        }
    }

    .cta{
        width: 50%;
        margin-bottom: 2em;
        .container{
            margin-top: 13vh;
            .banner{
                margin-left: 4em;
                width: 39vw;
            }
            
            .form-field{
                width: 36vw;
                margin-top: -1em;
                margin-left: 4.2em;
                form{
                    .form-table{
                        input{
                            width: 32vw;
                            height: 3em;
                            margin: .3em;
                        }
                        button{
                            width: 33vw;
                            margin: .2em;
                        }
                    }
                }
            }
        }
    }

}